<h2>Cliente {{ name }}</h2>

<div class="container">
  <mat-card>FOTO</mat-card>
  <mat-card class="info">
    <h3>Inscrição: {{ client.subscription }}</h3>
    <h3>Apelido: {{ client.nickname }}</h3>
    <h3>Nome: {{ client.name }}</h3>
    <h3>Status: {{ client.status }}</h3>
  </mat-card>
</div>
<mat-card>
  <h3>Email:</h3>

  <div>
    <ul>
      <li *ngFor="let email of email"> 
        <mat-card >
        <p><strong>Email:</strong>  {{email.email}}</p> 
        <p><strong> Nome:</strong> {{email.name}}  </p>  
        <p><strong> Categoria: </strong> {{email.category.name}} </p>
      </mat-card>
      </li>
    </ul>
  </div>
</mat-card>
